{% extends "base.html" %}
{% block title %}passowrd change{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>修改密码</h1>
    <h4>为了安全起见，请输入您的旧密码，然后再输入您的新密码两次，以便我们验证您输入正确。</h4>

    {% if form.new_password1.help_text %}
    <div class="text-left" style="margin-left:400px">
        <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
    {% endif %}

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <h5 class='col-md-5 control-h5 text-right'>{{ form.old_password.h5_tag }}</h5>
            <div class="col-md-6 text-left">{{ form.old_password }}</div>
        </div>
        <div class="form-group">
            <h5 class='col-md-5 control-h5 text-right'>{{ form.new_password1.h5_tag }}</h5>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
        </div>
        <div class="form-group">
            <h5 class="col-md-5 control-h5 text-right">{{ form.new_password2.h5_tag }}</h5>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
        </div>

        <input type="submit" value="重置你的密码" class="btn btn-primary btn-lg"/>
    </form>
</div>
{% endblock %}