{% load staticfiles %}
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a  href="#"><img src="{% static '/images/logo.png' %}"  height="50px"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="{% url 'article:article_column' %}">文章管理</a></li>
                <li><a href="{% url 'image:list_images' %}">图片管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                <li><a href="{% url 'blog:blog_list' %}">网站首页</a></li>
                <li><a href="#" style="text-color:red">{{ user.username }}</a></li>
                <li><a href="{% url 'account:user_logout' %}">登出</a></li>
            </ul>
        </div>
    </nav>
</div>